.sheesh {
    overflow: hidden !important;
    text-align: justify;
    background-image: url(DSCF0933.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: text;
    -webkit-background-clip: text;
    background-color: black !important; /* add this line */
}


.sheesh p{
    word-spacing: 0px !important;
    letter-spacing: 0px !important;
    font-weight: bold !important;
    font-family: monospace;
    font-size: 8px !important;
    color: transparent !important;
}